 *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 }

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 .row{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 ul{
    transform:skewY(-15deg) ;
    -webkit-transform:skewY(-15deg) ;
    -moz-transform:skewY(-15deg) ;
    -ms-transform:skewY(-15deg) ;
    -o-transform:skewY(-15deg) ;
}
ul li{
    position: relative;
    list-style: none;
    padding: 10px;
    background-color: rgb(102, 95, 95);
    z-index: var(--i);
}

ul li:hover{
    transform: translateX(-45px);
    background:var(--clr);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translateX(-45px);
    -moz-transform: translateX(-45px);
    -ms-transform: translateX(-45px);
    -o-transform: translateX(-45px);
    -webkit-filter: brightness(1);
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: var(--i);
}
ul li a:hover{
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    filter: brightness(1);
    -webkit-filter: brightness(1);
}


ul li::before{
    position: absolute;
    content: "";
    left: -40px;
    top: 0;
    width: 40px;
    background: rgb(151, 143, 143);
    height: 100%;
    transform: skewY(40deg);
    -webkit-transform: skewY(40deg);
    -moz-transform: skewY(40deg);
    -ms-transform: skewY(40deg);
    -o-transform: skewY(40deg);
    transform-origin: right;
    
}

ul li:hover::before{
    background-color: var(--clr);
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}


ul li::after{
    position: absolute;
    content: "";
    top: -33px;
    left: 0;
    width: 100%;
    height: 33px;
    background: rgb(131, 128, 128);
    transform-origin: bottom;
    transform: skewX(50deg);
    z-index: var(--i);
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
}
ul li span{
    position: absolute;
    content: "";
    left: -40px;
    top: 0;
    width: 40px;
    background: rgb(151, 143, 143);
    color: white;
    height: 100%;
    transform: skewY(40deg);
    -webkit-transform: skewY(40deg);
    -moz-transform: skewY(40deg);
    -ms-transform: skewY(40deg);
    -o-transform: skewY(40deg);
    transform-origin: right;
    z-index: var(--i);
    display: flex;
    justify-content: center;
    align-items: center;
}


ul li:hover::after{
    background:var(--clr);
    filter: brightness(1.3);
    -webkit-filter: brightness(1.3);
}

ul li:hover span{
 background-color: var(--clr);
 color: white;
}

ul li:last-child{
    box-shadow: 0px 50px 50px rgb(63, 55, 55);
}